body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  margin: 0;
  padding: 0 5vw;
  background-color: #ffcd8c41;
  padding-left: 20px; /* Creates space on sides */
  padding-right: 20px;
}
header {
  padding: 20px;
  border-bottom: 2px solid #eda048;
}

.header-top {
  /* Temporarily change flex to block for testing */
  display: block;
  text-align: center;
}

.logo {
  width: 100px; /* increased size for visibility */
  border: 2px solid rgb(241, 147, 24);
  transition: transform 0.3s ease;
  display: inline-block;
}

.description {
  font-weight: bold;
  margin-top: 5px;
  color:#68a40d
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  border-bottom: 2px solid #faab5c;
  margin: 5px 0;
  gap: 5px;
  white-space: nowrap;
}

nav li {
  margin: 0 13px;
}

nav a {
  text-decoration: none;
  color: #ff9a3b;
  font-weight: bold;
}

nav a.active {
  text-decoration: underline;
}

.hero img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.overview {
  padding: 20px;
  border-bottom: 2px solid #ffae2c;
}

.overview-content {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.overview-content img {
  width: 150px;
}

footer {
  text-align: center;
  padding: 15px;
  border-top: 2px solid #ff9c3e;
}

@keyframes earWiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

.wiggle-bunny:hover {
  animation: earWiggle 0.5s ease-in-out;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.quiz-button-vertical {
  position:absolute;
  top: 15px;
  right: 20px; /* side it's on */
  display:flex;
  align-items: center;
  background-color: #ffefa8;
  border: 2px solid #ffc84d;
  padding: 8px;
  border-radius: 10px;
  text-decoration:none;
  color: #6c572f;
  font-weight: bold;
  z-index: 900;
  width: 150px;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.quiz-button-vertical:hover {
  background-color: #ffb411;
}

.quiz-icon-vertical {
  width: 60px;
  height: auto;
  margin-bottom: 2px;
  margin-top: 0px;
}



nav a,
label,
footer,
p,
ul,
ol,
li,
input,
button {
  font-size: 16px;
}
